@import "ui-variables";

.claude-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// Messages container
.claude-chat-messages {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: @component-padding;
  font-size: var(--editor-font-size);
}
